* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .mobile {
    background-color: hsl(212, 45%, 89%);
    max-width: 375px;
  }

  .container {
    border-radius: 1rem;
    margin: 83px 24px 83px 24px;
    background: #fff;
  }

  img {
    border-radius: 0.75rem;
    margin: 20px;
    width: 287px;
    height: 287px;
  }

  h2 {
    text-align: center;
    margin: 24px;
    opacity: 85%;
    font-size: 22px;
    font-family: "Outfit", sans-serif;
  }

  p {
    margin: 30px;
    text-align: center;
    opacity: 50%;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    border-radius: 1rem;
    /* padding: 20px; */
    width: 325px;
    height: 500px;
    background-color: #fff;
  }
  img {
    margin: 12px;
    border-radius: 0.75rem;
    width: 300px;
    height: 300px;
  }
    h2 {
    text-align: center;
    margin: 24px;
    opacity: 85%;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
  }
    p {
    margin: 30px;
    text-align: center;
    opacity: 50%;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    padding-bottom: 40px;
  } 

}
